*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.hero{
background-image: url(images/bg-pattern-desktop.svg);
background-repeat: no-repeat;
width: 60%;
height: 100vh;
float: left;
background-size: cover;
/* display: inline-block; */



}
.abd{margin-bottom: 70px;


}

 
.girl
{
    width: 40%;
    height: 100vh;
    float: right;
}
button{
   height: 40px;
   width: 60px;
   border-width: inherit;
   
   background:linear-gradient(135deg,  hsl(0, 80%, 86%),  hsl(0, 74%, 74%)
   );
  
 position: absolute;
 left: 330px;
    border-radius: 20px;
    

    
     
}

.total{
    margin-top: 10px;
    margin-left: 30px;
    padding: 60px; 
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    
} 
span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 10px;
    line-height: 50px;
    
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color:rgba(260, 173, 109, 0.877) ;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color:rgba(260, 173, 109, 0.877);
    font-size: 50px;
    letter-spacing: 10px;
    line-height: 50px;
}
.font
{
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
  margin-bottom: -5px;
    background: transparent;
    position: relative;
    
    
    
}

